* {
    box-sizing: border-box;
}

html, body {
    height: 100%
}

body {
    margin: 0;
    width: 100%;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

[hidden] {
    display: none !important;
}

main {
    margin: 50px auto;
    text-align: center;
    font-size: 18px;
}

button, 
input {
    margin: 10px auto 0;
    padding: 5px 10px;
    display: block;
    outline: none;
    border-radius: 5px;
}

button {
    font-size: 22px;
    border: 1px solid transparent;
    transition: border-color .2s linear, transform .1s linear;
    box-shadow: 0px 1px 4px -1px black;
    background: transparent;
    cursor: pointer;
}

input {
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.3);
    transition: box-shadow .2s linear;
    box-shadow: inset 0 0 4px -2px transparent;
}
input:focus {
    box-shadow: inset 0 0 4px -2px black;
}

button:hover {
    border-color: black;
}

button:active {
    transform: scale(0.9);
}

button[disabled] {
    cursor: not-allowed;
    opacity: .5;
}

.lobby-die {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.lobby-die die {
    cursor: pointer;
    position: relative;
    left: calc(50% - 25px);
}

.players {
    text-align: left;
}

player {
    padding-bottom: 50px;
    display: block;
}

.turn:after {
    content: "<- TURN";
    color: RED;
    margin-left: 5px;
}

.actions {
    padding-top: 20px;
}

bet {
    position: relative;
    text-align: center;
}

bet h1 {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 72px;
    font-weight: 400;
}

bet h2 {
    margin: 0 5px;
}

bet die {
    position: relative;
    display: inline-block;
}
.bet-values {
    margin-top: 5px;
    text-align: center;
}
.bet-values input {
    display: inline-block;
    margin: 0 10px;
}